/*
*/.DS_Store
#Github
!.gitignore
!README.md

#WP-theme
!/wp-content
/wp-content/*
!/wp-content/theme
/wp-content/theme/*
!/wp-content/pankart

#designs
!/design
!/mdfiles
!/wireframes

# Webpack
!package.json
/wp-content/theme/pankart/public/*