/*
*.DS_Store
#Thème
!/wp-content
/wp-content/*
!/wp-content/themes
/wp-content/themes/*
!/wp-content/themes/easyspacy
/wp-content/themes/easyspacy/public/*

#Designs
!/design
!/md
!/wireframes

#Github
!.gitignore
!README.md
!package.json
!webpack.mix.js

