/*
*.DS_Store

#Thème
!/wp-content
/wp-content/*
!/wp-content/themes
/wp-content/themes/*
!/wp-content/themes/pankart
!/wp-content/themes/pankart/public/*

#Designs
!/design
!/md
!/wireframes

#Github
!.gitignore
!README.md
!package.json
!webpack.mix.js


# Webpack
!package.json
#/wp-content/theme/pankart/public/*