.presentation {
  color: $orange;
  background-color: $black;
  overflow: hidden;
  display: grid;
  grid-gap: $gap;

  margin-bottom: 2.77777778em;
  &__title {
    grid-area: title;
  }
  &__text {
    grid-area: content;
  }
  &__img {
    grid-area: img;
    clip-path: polygon(14.09722222% 0, 100% 0, 100% 100%, 0% 100%);
    object-fit: cover;
    object-position: center;
  }
  &__link {
    @include big-buttons;
    &_book {
      grid-area: book;
      background-color: $orange;
      color: $black;
    }
    &_agenda {
      border: 2px solid $orange;
      grid-area: agenda;
    }
  }
}
.home-news {
  width: $width-fixed;
  max-width: $width-fixed-px;
  margin: 0 auto 7.77777778em;
  &__title {
    font-size: $font-size-heading-sec;
    margin-bottom: 1em;
  }
  .np {
    @include news-layout(754px);
  }
}

.next-date {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(4, auto);
  overflow: hidden;
  margin-bottom: 3.33333333em;
  &__img {
    grid-column: 1;
    grid-row: 1/-1;
    max-width: 100%;
    height: auto;
  }
  &__title {
    grid-row: 2;
    font-size: $font-size-heading-sec;
    max-width: 365px;
    width: 32.823741%;
    margin: 0 auto 1em;
  }
  background-color: $black;
  color: $orange;
  clip-path: polygon(0 3%, 100% 0, 100% 97%, 0 100%);
}
.last-date {
  grid-row: 3;
  width: 32.823741%;
  max-width: 365px;
  margin: 0 auto;
  &__title {
    font-size: $font-size-heading-third;
    font-weight: 700;
    line-height: 1;
  }
  &__date {
    margin-bottom: 2.55555556em;
  }
  &__link {
    @include big-buttons;
    border-radius: 0.27777778em;
    background-color: $orange;
    color: $black;
    display: block;
    width: 100%;
  }
}

.last-song {
  width: $width-fixed;
  max-width: $width-fixed-px;
  margin: 0 auto;
  &__title {
    font-size: $font-size-heading-sec;

    margin: 0 auto;
    line-height: 1;
  }
}
.song-album {
  display: flex;
  margin: 0 auto;
  margin-bottom: 2.22222222em;
}
.ls {
  max-width: 336px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  &__title {
    font-size: $font-size-heading-third;
    text-align: center;
    font-weight: 700;
    margin-bottom: 0.71428571em;
  }
  &__album-cover {
    border-radius: 0.55555556em;
    margin-bottom: 1.66666667em;
  }
  margin-bottom: 7em;
}
.ls-nav {
  position: relative;
  margin-bottom: 0.55555556em;
  &__button {
    width: 100%;
    @include big-buttons;
    background-color: $orange;
    color: $black;
  }
  &__list {
    transform-origin: center left;
    position: absolute;
    background-color: $black;
    color: $orange;
    width: 100%;
    right: calc(-100% - 8px);
    top: 0;
    border-radius: 0.27777778em;
    text-align: center;
    &::after {
      content: '';
      position: absolute;
      left: -8px;
      top: calc(1em / 2 + 0.61111111em / 2);
      width: 0;
      height: 0;
      border: 8px solid transparent;
      border-right-color: $black;
      border-left: 0;
    }
  }
  &__item {
    padding: 0.61111111em 0;
  }
  &__item {
    @include icon-inline-block;
    &_spotify {
      //@include icon-inline-block;
      &::before {
        @include sprite-fct(25px, 25px, -400px, 0px, transparent);
      }
    }
    &_deezer {
      &::before {
        @include sprite-fct(25px, 25px, -320px, 0px, transparent);
      }
    }
    &_apple_music {
      &::before {
        @include sprite-fct(25px, 25px, -160px, -80px, transparent);
      }
    }
    &_youtube_music {
      &::before {
        @include sprite-fct(25px, 25px, -480px, -80px, transparent);
      }
    }
    &_fnac {
      &::before {
        vertical-align: middle;
        @include sprite-fct(25px, 8px, -480px, 0px, transparent);
      }
    }
  }
}
@import './media/home-media.scss';
