@media (max-width: 1040px) {
  .ls-nav {
    &__list {
      transform-origin: top center;
      right: 0;
      top: calc(100% + 7px);
      z-index: 1;
      &::after {
        content: '';
        position: absolute;
        left: calc(50% - 15px);
        top: -15px;
        width: 0;
        height: 0;
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        border-bottom: 15px solid $black;
      }
    }
  }
}
@media (min-width: 1011px) {
  .presentation {
    grid-template-areas:
      '. . . img'
      '. title title img'
      '. content content img'
      '. book agenda img'
      '. . . img';
    grid-template-columns: minmax(150px, 10.41666667%) 1fr 1fr min-content;
    grid-template-rows: repeat(5, auto);

    grid-gap: $gap;
  }
}
@media (max-width: 900px) {
  .next-date {
    display: block;
    padding: 2em 0;
    &__img {
      display: none;
    }
  }
}
@media (max-width: 480px) {
  .presentation {
    grid-template-areas:
      'title title'
      'content content'
      'book book'
      'agenda agenda';
  }
}
